.signups{
  background-color: #f7f7f7;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup{
  width: 500px;
  height: 700px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 0 4px #eae6dc;
  &__name{
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    padding: 40px 0 0 40px;
  }
  &__field{
    padding: 20px 0 0 20px;
    input{
      padding: 12px;
      margin-top: 8px;
      border: 1px solid #eae6dc;
      border-radius: 8px;
      width: 400px;
    }
  }
  &__actions{
    padding: 20px 0 0 20px;
    padding-bottom: 30px;
    input{
      display: block;
      width: 140px;
      padding: 12px 0;
      color: #ffffff;
      text-align: center;
      border: none;
      border-radius: 6px;
      background: rgb(12, 146, 46);
      cursor: pointer;
    }
  }
  a{
    padding-left: 20px;
    
  }
}