.s-contents{
  background-color: #f7f7f7;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
}
.s-content{
  width: 700px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 0 4px #eae6dc;
  &__user{
    padding: 20px 0 0 20px;
    display: flex;
    padding-bottom: 40px;
    &--name{
      padding-right: 10px;
      font-size: 18px;
      a{
        color: black;
      }
    }
    &--time{
      font-size: 15px;
      color: silver;
      padding-top: 4px;
    }
    &--lang{
      padding-left: 10px;
      padding-top: 4px;
      font-size: 15px;
    }
  }
  &__image{
    img{
      padding-left: 50px;
      padding-top: 20px;
    }
  }
  &__title{
    padding: 30px;
    border-bottom: solid 2px silver;
    margin: 30px;
    font-size: 50px;
    word-wrap: break-word;
  }
  &__text{
    padding: 30px;
    border-bottom: solid 2px silver;
    margin: 30px;
    font-size: 30px;
    word-wrap: break-word;
  }
  &__box{
    padding-bottom: 20px;
    &--btn{
      width: 50%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      button{
        line-height: 48px;
        background: rgb(12, 146, 46);
        border: 5px solid rgb(12, 146, 46);
        color: #fff;
        font-size: 20px;
        border-radius: 100px;
        cursor: pointer;
        outline: none;
        padding: 0 40px;
      }
      button:hover{
        box-shadow: 0 10px 15px -5px rgba(0,0,0,.15),0 0 5px rgba(0,0,0,.1);
        transform: translateY(-3px);
        transition: 0.3s;
      }
    }
  }
}
.comment{
  margin-top: 50px;
  &__title{
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    &__name{
      font-size: 20px;
      font-weight: bold;
      text-shadow: 0 0 10px rgb(12, 146, 46);
    }
    &__post{
      transition: all 0.3s ease 0s;
      background-color:rgb(12, 146, 46);
      border-radius: 4px;
      margin-right: 10px;
      &__btm{
        font-size: 14px;
        border: 1px solid rgb(12, 146, 46);
        border-radius: 4px;
        padding: 8px 15px 5px;
        a{
          transition: all 0.3s ease 0s;
          text-decoration: none;
          color: white;
        }
      }
    }
    &__post:hover{
      box-shadow: 0 10px 15px -5px rgba(0,0,0,.15),0 0 5px rgba(0,0,0,.1);
      transform: translateY(-3px);
      transition: 0.3s;
    }
  }
  &__box{
    max-height: 306px;
    overflow-y: scroll;
    margin-top: 20px;
    padding: 0 30px 30px 30px;
    margin-bottom: 30px;
    &__string{
      display: flex;
      margin-bottom: 24px;
      &--imag{
        height: 52px;
        width: 52px;
        border-radius: 50%;
        background-color: silver;
        text-align: center;
        box-sizing: border-box;
        .iimage{
          margin-top: 9px;
        }
      }
      &--info{
        color: #333333;
        margin-left: 20px;
        word-wrap: break-word;
        width: 500px;
        .c-title{
          margin-bottom: 4px;
          font-size: 18px;
          font-weight: bold;
        }
        .c-text{
          font-size: 16px;
          
        }
        .c-date{
          color: #5f6367;
          font-size: 12px;
          margin-top: 5px;
        }
      }
    }
  }
}